@import '../../../assets/variables.css';


.CardItem {
  display: flex;
  border-bottom: 1px solid var(--font-color-default);
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;


  & > * {
    padding: 0 10px;
  }

  &__image {
    padding: 0 10px;

    img {
      width: 140px;
    }

    @media (--small) {
      padding: 0 2px;

      img {
        width: 60px;
      }
    }
  }

  &__name {
    width: 100%;
    font-size: 20px;

    @media (--small) {
      font-size: 12px;
    }
  }

  &__price {
    width: 80px;
    text-align: right;

    @media (--small) {
      font-size: 12px;
    }
  }

  &__count {
    display: flex;
    width: 120px;
  }

  &__countInput {
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 50px;
    margin-right: 10px;

    @media (--small) {
      width: 30px;
    }
  }

  &__countDelete {
    //border: 2px solid var(--main-rose);
    //color: var(--main-rose);
    //height: 26px;
    //width: 26px;
    //line-height: 26px;
    //vertical-align: middle;
    //background-color: transparent;
    //cursor: pointer;
    //border-radius: 13px;
  }

  &__sum {
    width: 100px;
    font-size: 20px;

    @media (--small) {
      font-size: 14px;
    }
  }
}
