.CardList {
  &__title {
    font-size: 20px;
    text-transform: uppercase;
    padding: 0;
    margin: 30px 0 20px 0;
  }

  &__total {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    text-align: right;
  }

  &__successMessageTitle {
    color: var(--font-color-default);
    text-align: center;
  }
}
