@import '../../assets/variables.css';

.MainMenu {
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (--medium) {
      justify-content: space-between;
      padding: 0;
    }

    @media (--small) {
      height: 80px;
      justify-content: flex-start;
      padding: 0 10px;
    }
  }

  &__phone {
    text-decoration: none;

    @media (--small) {
      display: none;
      /* color: var(--main-rose);
      font-size: 15px;
      display: block;
      margin-left: 20px; */
    }

    @media (--medium) {
      font-size: 18px;
      color: #ffffff;

    }
  }

  &__logo {
    @media(--medium) {
      display: none;
    }

    @media(--small) {
      width: 100%;
      text-align: center;
      margin-right: 55px;
    }
  }

  &__submenuDelimiter {
    height: 2px;
    background-color: var(--main-rose);
  }

  @media (--medium) {
    background-color: var(--main-rose);

    &__items {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
    }
  }

  @media (--small) {
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
    height: 70px;

    &__items {
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      border: 1px solid var(--main-rose);
      border-radius: 4px;
      background-color: var(--main-rose);
      z-index: 100;
      display: none;
      animation: ShowDropdown 0.3s forwards;

      &--isOpen {
        display: block;
      }
    }

  }
}

@keyframes ShowDropdown {
  to {
    margin-top: 40px;
  }
}
