@import '../../assets/variables.css';

.MainMenuIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__icon {
    display: flex;
    margin-right: 5px;
    align-items: center;

    &--phone {
      @media(--medium) {
        display: none;
      }
    }
  }

  &__iconSVG {
    @media (--medium) {
      width: 30px;
      height: 30px;
      fill: #ffffff;
    }

    @media (--small) {
      width: 25px;
      height: 25px;
      fill: var(--main-rose);
    }
  }
}
