@import '../../assets/variables.css';

.MainMenuBurger {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  border: 1px solid var(--main-rose);
  border-radius: 4px;
  outline: none;
  background-color: #fff;

  @media (--medium) {
    display: none;
  }

  &__line {
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--main-rose);
    position: absolute;
    left: 10px;
    transition: 0.3s ease-in-out;

    &--one {
      top: 12px;
    }

    &--one&--isOpen {
      transform: rotate(-45deg) translate(-8px, 8px);
    }

    &--two {
      top: 22px;
    }

    &--two&--isOpen {
      opacity: 0;
    }

    &--three {
      top: 32px;
    }

    &--three&--isOpen {
      transform: rotate(45deg) translate(-6px, -8px);
    }
  }
}
