.BreadCrumb {
  color: #151515;
  margin: 40px 0 40px 0;

  &__item {
    text-transform: uppercase;
    font-family: "times new roman", times, serif;
    font-size: 14px;
    color: #151515;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;

    &--disabled {
      color: rgba(21, 21, 21, 0.6);
    }
  }
}
