@import '../../assets/variables.css';

.ProductPage {

  &__block {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    & > * {
      @media (--small) {
        width: 100%;
      }

      @media (--medium) {
        width: calc(50% - 20px);
      }
    }
  }

  &__info {

  }

  &__infoInner {
    @media (--medium) {
      min-height: 261px;
    }

    @media (--small) {
      padding: 20px;
    }
  }


  &__title {
    font-weight: bolder;
    font-size: 20px;
    margin: 0 0 0 0;

  }

  &__titleInfo {
    text-transform: lowercase;
    font-weight: normal;
    font-style: italic;
  }

  &__price {
    font-weight: bold;
    font-size: 20px;
  }

  &__description {

  }
}
