@import '../../assets/variables.css';

.ProductGallery {
  .image-gallery-thumbnails-container {
    text-align: left;
  }

  .image-gallery-thumbnail.active {
    border-color: var(--main-rose) !important;
  }
}
