@import '../../assets/variables.css';

.Articles {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    box-sizing: border-box;
    margin-bottom: 24px;

    @media (--medium) {
      width: 50%;
    }

    @media (--small) {
      width: 100%;
    }

    h2 {
      color: rgb(21, 21, 21);
      text-transform: lowercase;
      font-size: 18px;
      letter-spacing: 3.6px;
      margin: 0 0 20px 0;
      font-weight: normal;
    }

    p {
      color: rgb(21, 21, 21);
      font-size: 18px;
      margin: 0;
    }
  }  
}