@import '../../assets/variables.css';

.TopPageGallery {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;

  &__tip {
    padding: 6px;
    background-color: var(--main-rose);

    @media (--medium) {
      top: 40px;
      left:  calc(50% - 410px);
      z-index: 10;
      position: absolute;
    }

    @media (--small) {
      margin-bottom: 20px;
    }
  }

  &__tipInner {
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 20px 40px 20px 20px;
    border: 1px solid #FFFFFF;
    /* background-repeat: no-repeat;
    background-position:
      15px 10px,
      110px 150px,
      135px 50px,
      120px 120px,
      160px 130px,
      80px 120px,
      10px 220px,
      110px 10px,
      180px 60px
    ;

    background-image:
      url('/static/images/white-dot.png'),
      url('/static/images/white-dot.png'),
      url('/static/images/white-dot.png'),
      url('/static/images/white-dot.png'),
      url('/static/images/white-dot.png'),
      url('/static/images/white-dot.png'),
      url('/static/images/white-dot.png'),
      url('/static/images/white-dot.png'),
      url('/static/images/white-dot.png')
    ;

    background-size:
      10px,
      10px,
      6px,
      5px,
      10px,
      5px,
      4px,
      6px,
      8px
    ; */
  }
}
