@import '../../assets/variables.css';

.FillingStep {
  /* margin-top: 20px; */

  &__inner {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &__item {
    display: block;
    box-sizing: border-box;
    margin: 0;
    background-color: transparent;
    padding: 5px;
    outline: none;
    cursor: pointer;
    border: none;
    position: relative;

    @media (--medium) {
      width: 33%;
    }

    @media (--small) {
      width: 50%;
    }

    &--isActive {
      background-color: var(--main-active);
    }

    &--isCake {
      @media (--medium) {
        width: 66%;
      }

      @media (--small) {
        width: 100%;
      }
    }
  }

  &__image {
    width: 100%;
    margin-top: 0;
  }

  &__title {
    display: block;
    text-transform: uppercase;
    color: var(--font-color-default);
    font-size: 12px;

  }

  &__price {
    display: block;
    color: var(--font-color-default);
    font-size: 14px;
  }

  &__innerBlock {
    display: block;
    position: relative;
    overflow: hidden;

    &--isCake {
      background-color: var(--main-rose);
      padding: 5px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      & > * {
        width: 50%;
      }
    }
  }

  &__description {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    padding: 0 10px;
    background-color: rgba(256, 256, 256, 0.8);
    transition: height 0.15s ease-out;
    color: #000;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;

    &--isShowed {
      height: 100%;
    }

    &--isCake {
      background-color: transparent;
      color: #fff;
      font-size: 14px;
      position: relative;
      width: 50%;
      height: 50%;
    }
  }
}
