@import '../../assets/variables.css';

.QuickCakeHeader {
  line-height: 40px;
  height: 40px;
  text-align: center;
  width: 100%;
  color: #ffffff;
  padding: 0;
  margin: 0 0 15px 0;
  background-color: var(--main-rose);
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;

  @media (--small) {
    font-size: 16px;
  }
}
