@import '../../assets/variables.css';

.QuickCake {

  &__line {
    margin-bottom: 20px;

    & > * {
      width: 100%;
      @media (--medium) {
        margin: 0 20px;
        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    @media (--medium) {
      display: flex;
      justify-content: space-between;
    }
  }
}
