@import '../../assets/variables.css';

.Step {
  display: flex;

  &__item {
    border: none;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--font-color-default);

    &--isActive {
      background-color: #EED3E0;
    }
  }

  @media (--medium) {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      height: 50px;
      line-height: 50px;
      vertical-align: center;
      font-size: 20px;
      padding: 0 15px;
      margin: 0 20px;
    }

    &__delimiter {
      margin: 0 10px;
      width: 6px;
      height: 6px;
      background-color: var(--font-color-default);
      border-radius: 3px;
    }
  }

  @media (--small) {
    &__item {
      justify-content: space-between;
    }
  }
}
