@import '../../assets/variables.css';

.TopPageLogos {
  overflow: hidden;
  margin: 20px auto;

  @media (--medium) {
    display: flex;
    width: 900px;
  }

  &__item {
    box-sizign: border-box;

    @media (--medium) {
      width: 33%;
    }

    @media (--small) {
      width: 100%;
    }
  }

  &__itemLogo {
    text-align: center;
    display: block;
    outline: none;
    cursor: pointer;
    min-height: 81px;
  }

  &__itemAddress, 
  &__itemPhone {
    display: block;
    font-size: 18px;
    color: rgb(21, 21, 21);
    text-align: center;
  }

  &__itemAddress {

  }

  &__itemPhone {
    cursor: pointer;
    text-decoration: none;
  }
}