@import '../../assets/variables.css';

.SimpleProductItem {
  text-decoration: none;
  margin: 20px 10px;
  @media (--medium) {
    width: calc(25% - 20px);
  }

  @media (--small) {
    width: calc(33% - 20px);
  }

  @media (--small) {
    width: calc(100% - 20px);
  }

  &__imageList {
  }

  &__imageItem {
    width: 100%;
  }

  &__name {
    color: rgba(79,79,79,1);
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__price {
    display: block;
    color: rgba(79,79,79,1);
    font-stretch: 100%;
    font-weight: bold;
  }
}
