@import '../../assets/variables.css';

.SimpleProductList {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  @media (--small) {
    align-items: center;
  }
}
