.ColorItem {
  width: 24px;
  height: 24px;
  outline: none;
  margin: 10px 5px;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;

  &--isActive {
    &:before {
      position: absolute;
      content: '';
      width: 28px;
      height: 28px;
      border: 1px solid #666;
      top: -3px;
      left: -3px;
    }
  }
}
