@import '../../../assets/variables.css';

.DecorVariants {
  &__title {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (--small) {
      justify-content: center;
    }
  }

  &__item {
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;

    @media (--medium) {
      width: 33%;
    }

    @media (--small) {
      width: 50%;
    }

    &--isActive {
      background-color: var(--main-active);
    }
  }

  &__itemImage {
    width: 100%;
  }

  &__itemDescription {
    position: absolute;
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
    height: 0;
    left: 5px;
    bottom: 5px;
    padding: 0 10px;
    background-color: rgba(256, 256, 256, 0.8);
    transition: height 0.15s ease-out;
    color: #000;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;

    &--isShowed {
      height: calc(100% - 10px);
    }

    &__itemDescriptionInner {
      display: block;
    }
  }
}
