@import '../../../assets/variables.css';

.DecorStep {
  margin-top: 20px;

  &__title {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
  }

  &__blockItem {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: center;
  }

  &__itemTitle {
    font-size: 15px;
    text-transform: lowercase;
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;

    span {
      font-weight: normal;
    }
  }

  &__itemValues {
    display: flex;
    width: 100%;
    font-size: 14px;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;

    @media (--small) {
      &--wrap {
        & > * {
          margin-top: 10px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }

    & > * {
      margin-right: 10px;

      @media (--small) {
        //padding-bottom: 10px;
      }
    }
  }

  &__textWrapper {
    position: relative;
    width: 100%;
  }

  &__textInput {
    border: 1px solid #666;
    outline: none;
    height: 26px;
    line-height: 26px;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    box-sizing: border-box;
  }

  &__texCount {
    position: absolute;
    top: 0;
    right: 5px;
    height: 26px;
    line-height: 26px;
    color: #666;
  }

  &__submitWrapper {
    margin: 20px 0;
    text-align: right;
  }

  &__submit {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    vertical-align: middle;
    padding: 0 20px;
    background-color: var(--main-rose);
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    border: none;
    cursor: pointer;
    outline: none;

    &:disabled {
      cursor: default;
      background-color: #666;
    }
  }

}
