@import '../../assets/variables.css';

.HeadBanner {
  margin: 7px auto;

  a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  @media (--small) {
    display: none;
  }
}
