@import '../../assets/variables.css';


.CategorySlider {
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    width: 90px !important;
    height: 90px !important;
    transform: rotate(45grad);
  }

  .slick-arrow.slick-prev {
    top: calc(50% - 99px) !important;
    z-index: 10;
    @media (--medium) {
      left: -27px !important;
    }
    @media (--small) {
      left: 0 !important;
    }
  }
  .slick-arrow.slick-next {
    top: calc(50% - 64px) !important;
    @media (--medium) {
      right: -51px !important;
    }
    @media (--small) {
      right: -14px !important;
    }
  }

  .slick-arrow.slick-prev:before,
  .slick-arrow.slick-next:before {
    text-shadow: 0 0 2px #1a1a1a !important;
    font-size: 90px !important;
  }
  .slick-arrow.slick-prev:before {
    content: "\231E" !important;
  }
  .slick-arrow.slick-next:before {
    content: "\231D" !important;
    transform: rotate(45deg);
  }

  &__item {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;

    @media (--medium) {
      margin: 5px;
      padding: 5px;
    }

    img {
      width: 100%;
    }
  }

  &__itemInfo {
    padding: 0;
    margin: 0;
  }

  &__itemTitle {
    margin-bottom: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__itemTitle, &__itemPrice {
    display: block;
    font-size: 15px;
    color: var(--font-color-default)
  }

  &__arrow {


    &--next {

    }

    &--prev {

    }
  }
}
