@import '../../assets/variables.css';

.FormField {
  position: relative;
  padding-bottom: 15px;
  box-sizing: border-box;

  @media (--medium) {
    width: 100%;
  }

  @media (--medium) {
    margin: 0 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__label {
    display: block;
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: bold;

    &--isRequired {
      &:after {
        content: ' *';
        color: red;
      }
    }
  }

  input[type="text"] {
    height: 30px;
  }

  input[type="text"], textarea {
    width: 100%;
    line-height: 30px;
    font-size: 14px;
    vertical-align: middle;
    padding: 0 10px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid black;

    &:focus {
      border-color: rgba(81, 203, 238, 1);
      outline: 5px solid rgba(81, 203, 238, 0.1);
    }
  }

  &--invalid {
    input[type="text"] {
      border-color: red;
    }
  }

  &__error {
    color: red;
    position: absolute;
    font-size: 12px;
    bottom: 0;
    left: 0;
  }
}
