@import '../../assets/variables.css';

.OrderInfo {
  background-color: #FCEFF4;
  border-radius: 2px;
  margin: 15px 0;

  &__title {
    padding: 0 15px;
    margin: 0;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--font-color-title);
    border-bottom: 1px solid rgba(208, 152, 179, 1);
  }

  &__reset {
    line-height: 22px;
    color: var(--font-color-default);
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid var(--font-color-title);
    display: block;
    cursor: pointer;
    outline: none;
  }

  &__sumText,
  &__sumValue {
    vertical-align: bottom;
    line-height: 22px;
  }

  &__sumText {
    font-size: 16px;
  }

  &__sumValue {
    font-size: 20px;
    margin-left: 5px;
    vertical-align: bottom;
    color: #dc2a41;
  }
}
