@import '../../assets/variables.css';

.OrderForm {
  @media (--small) {
    padding: 0 10px;
  }

  &__line {

    @media (--medium) {
      display: flex;
      justify-content: space-between;
    }

    &--submit {
      margin-top: 10px;
      text-align: right;
      justify-content: flex-end;
      margin-bottom: 160px;
    }
  }

  &__submit {
    @apply --button-submit;
  }
}
