@import '../../assets/variables.css';

.OrderResultHandler {
  &__title {
    color: var(--font-color-default);
    text-align: center;
  }

  &__message {
    color: var(--font-color-default);
    text-align: center;
  }

&__error {
    
  }
}
