@import '../../assets/variables.css';

.TopPageCooks {
  position: relative;
  margin: 40px auto; 
  overflow: hidden;

  @media (--medium) {
    width: 1000px;
    height: 420px;
  }

  &__gallery {
    width: 100%;

    @media (--medium) {
      flex-shrink: 10;
    }
  }

  &__text {
    box-sizing: border-box;
    background-color: var(--main-rose);
    overflow: hidden;

    @media (--medium) {
      height: 420px;
      width: 325px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
    }

    @media (--small) {
      margin-bottom: 20px;
    }
  }

  &__textInner {
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid #FFFFFF;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;

    @media (--medium) {
      height: calc(100% - 10px);
    }
  }
}
