@import '../../assets/variables.css';

.TagList {
  display: flex;
  justify-content: center;
  margin: 0 30px 15px 30px;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    margin: 0 15px;
    padding: 0;
    outline: none;
    border: none;
    vertical-align: middle;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
    border-bottom: 2px dashed black;

    &--isActive {
      border-bottom-color: transparent;
    }
  }
}
