.TagProductGallery {
  margin-top: 15px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__item {
    display: block;
    outline: none;
    width: calc(25% - 10px);
    box-sizing: border-box;
    margin: 5px;

    img {
      width: 100%;
    }
  }
}
