@import '../../assets/variables.css';

.LayoutInner {
  box-sizing: border-box;
  
  @media (--medium) {
    width: 900px;
  }

  @media (--small) {
    padding: 0 10px;
  }

  margin: 0 auto;
  position: relative;
}
