@import '../../assets/variables.css';

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

* {
  font-family: var(--font-family) !important;
}

body {
  @media (--medium) {
    font-size: 16px;
  }
}

.Layout {
  &__header {
    height: 131px;

    @media (--small) {
      height: 80px;
    }
  }

  &__headerInner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
  }
}
