@import '../../assets/variables.css';

.TopPageCakes {

  &__item {
    padding: 5px;
    display: block;
    height: 226px;
    text-decoration: none;
    color: #ffffff;
    background-color: var(--main-rose);
  }

  &__itemText {
    box-sizing: border-box;
    border: 1px solid #ffffff;
    height: 100%;

    h3 {
      text-align: center;

      @media (--small) {
        font-size: 20px;
      }

      @media (--medium) {
        font-size: 23px;
      }
    }

    p {
      font-size: 18px;
      text-align: center;
      margin-bottom: 0;
    }
  }

  @media (--medium) {
    margin: 40px 0;
    border-top: 2px solid #FDE681;
    border-bottom: 2px solid #FDE681;
    padding: 5px 0;
    
    &__inner {
      width: 100%;
      height: 453px;
      background: url('/static/images/ready-cakes-bg.jpg') center center no-repeat;
      background-size: cover;
      border: 1px solid transparent;
    }

    &__list {
      width: 900px;
      margin: 90px auto;
      display: flex;
      justify-content: space-between;
    }

    &__item {
      width: 396px;
    }
  }

  @media (--small) {
    &__item {
      margin: 20px 0;
    }
  }
}
