@import '../../../assets/variables.css';

.AddToCard {
  display: flex;
  justify-content: space-between;

  &--added {
    @media (--small) {
      flex-wrap: wrap;
    }
  }

  & > * {
    display: block;
  }

  &__link, &__add {
    cursor: pointer;
  }

  &__link, &__add, &__count {
    text-decoration: none;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__link {
    text-align: center;

    @media (--medium) {
      width: calc(50% - 5px);
    }

    @media (--small) {
      width: 100%;
    }

    &--back {
      color: var(--font-color-default);

      @media (--small) {
        margin-bottom: 15px;
      }
    }

    &--order {
      color: #ffffff;
      background-color: var(--main-rose);
    }
  }

  &__count {
    margin-right: 10px;
    width: 50px;
    padding: 0 0 0 10px;
  }

  &__add {
    border: none;
    outline: none;
    width: 100%;
    color: #ffffff;
    background-color: var(--main-rose);
  }
}
