@import '../../../assets/variables.css';

.CardCount {
  height: 30px;
  display: flex;
  align-items: center;

  &__icon {
    height: 26px;
    width: 23px;

    @media (--small) {
      fill: var(--main-rose);
    }

    @media (--medium) {
      fill: #ffffff;
    }
  }

  &__iconText {
    font-size: 4rem;
    font-weight: bold;

    @media (--small) {
      fill: #ffffff;
    }

    @media (--medium) {
      fill: var(--main-rose);
    }
  }
}
