@import '../../../assets/variables.css';

.MainMenuItemParent {
  position: relative;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  cursor: pointer;
  display: block;

  @media (--medium) {
    border-bottom: none;
  }

  @media (--small) {
    width: 100%;
  }

  &__submenu {
    @media (--medium) {
      position: absolute;
      top: 27px;
      background-color: #FFFFFF;
      color: var(--main-rose);
      text-decoration: none;
      padding: 5px 15px;
      box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.3);
    }

    @media (--small) {

    }
  }

  &__title {
    display: block;
  }
}
