@import '../../../assets/variables.css';

.MainMenuItemChild {
  font-family: "open sans", sans-serif;
  text-decoration: none;

  @media (--medium) {
    font-size: 1.1rem;
    position: relative;
    display: block;
    text-align: left;
    white-space: nowrap;
    color: var(--main-rose);
    padding: 3px 0;

    &--isActive, &:hover {
      color: #fad94e;
    }
  }

  @media (--small) {
    display: block;
    line-height: 30px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;

    &:last-child {
      border-bottom: none;
    }

    &--isActive {
      color: #fad94e;
    }
  }
}
