@import '../../../assets/variables.css';

.MainMenuItemBase {
  font-family: "open sans", sans-serif;
  text-decoration: none;
  transition: color 0.4s ease 0s;
  color: #fff;
  display: block;
  background-color: transparent;
  padding: 0 10px;

  @media (--medium) {
    font-size: 1.1rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &--isActive, &:hover {
      color: #fad94e;
    }
  }

  @media (--small) {
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    font-size: 18px;

    &:last-child {
      border-bottom: none;
    }

    &--isActive {
      color: #fad94e;
    }
  }
}
