@import '../../assets/variables.css';

.SpecialCake {

  &__line {
    margin-bottom: 20px;

    & > * {
      width: 100%;
      @media (--medium) {
        margin: 0 20px;
        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    @media (--medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__orderCommentLabel {
    display: block;
    color: var(--font-color-title);
  }

  &__orderCommentText {
    width: 100%;
    height: 3rem;
    margin-top: 5px;
    font-size: 14px;

    &:focus {
      border-color: rgba(81, 203, 238, 1);
      outline: 5px solid rgba(81, 203, 238, 0.1);
    }
  }
}
