@import '../src/assets/variables.css';

#__next {
  @media (--small) {
    overflow: hidden;
  }
}

.IndexPage {
  &__title {
    font-weight: normal;
    font-size: 24px;
    color: var(--font-color-default);
    text-align: center;
    margin: 30px 0 5px 0;
  }

  &__desctiption {
    font-size: 18px;
    text-align: center;
    color: var(--font-color-default);
    margin: 5px 0 20px 0;
  }
}
