@import '../src/assets/variables.css';

.YouTube {
  position:relative;
  padding-bottom: 56.25%;
  margin-bottom: 30px;
  height: 0;

  iframe, object, embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.WhoOrder {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--main-rose);
  padding: 5px;

  &__inner {
    border: 1px solid #ffffff;
    overflow: hidden;

    @media (--medium) {
      padding: 30px 45px;

      img {
        float: right;
      }

      p {
        padding: 20px 306px 0 0;
      }
    }

    @media (--small) {
      img {
        display: block;
        margin: 10px auto;
        width: 100%;
      }

      p {
        margin: 10px;
      }
    }

    p {
      color: #ffff;
      font-size: 18px;
      letter-spacing: 3.6px;
    }

  }
}
