@import '../src/assets/variables.css';

.BuyTort {
  font-family: var(--font-family);

  &__heder {
    font-family: var(--font-family);
  }

  &__description {
    font-family: var(--font-family);

  }
}
