@import '../../assets/variables.css';

.Checkbox {
  cursor: pointer;
  font-size: 15px;
  line-height: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  vertical-align: middle;
  display: block;
  padding-left: 23px;
  position: relative;

  &:before {
    content: '';
    border-radius: 8px;
    width: 12px;
    height: 12px;
    border: 1px solid var(--font-color-default);
    position: absolute;
    top: 2px;
    left: 2px;
  }

  &--checked {

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 6px;
      background-color: var(--font-color-default);
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }

  &__input {
    visibility: hidden;
    display: none;
  }
}
