
@import '../../assets/variables.css';

.OrderInfoTitle {
  padding: 5px 15px;
  margin: 0;
  font-size: 18px;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--font-color-title);
  border-bottom: 1px solid rgba(208, 152, 179, 1);
}
