@import '../../assets/variables.css';

.OrderInfoLine {
  display: flex;
  padding: 8px 15px;
  border-bottom: 1px solid #fff;

  @media (--medium) {
    justify-content: space-between;
  }

  @media (--small) {
    flex-direction: column;
  }
}
