@import '../../assets/variables.css';

.OrderInfoLineTitle {
  display: flex;
  align-items: center;
  color: var(--font-color-title);
  text-transform: lowercase;

  @media (--medium) {
    flex-shrink: 0;
    width: 200px;
  }
}
