@import '../../assets/variables.css';

.OrderInfoLineDescription {
  width: 100%;
  display: flex;
  align-content: flex-start;
  color: var(--font-color-default);
  text-transform: lowercase;

  @media (--medium) {
    align-items: center;
  }

  @media (--small) {
    flex-direction: column;

    & > * {
      margin-top: 5px;
    }
  }
}
