@import '../../assets/variables.css';

.Radio {
  cursor: pointer;
  font-size: 15px;
  line-height: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  vertical-align: middle;
  display: block;
  padding-left: 23px;
  position: relative;

  &:before {
    content: '';
    border-radius: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid #666;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--checked {
    &:before {
      border-color: var(--main-rose);
    }

    &:after {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: var(--main-rose);
      position: absolute;
      top: 6px;
      left: 6px;
    }
  }

  &__input {
    visibility: hidden;
    display: none;
  }
}
