@custom-media --large screen and (min-width: 800px);
@custom-media --medium screen and (min-width: 501px);
@custom-media --small screen and (max-width: 500px);

:root {
  --main-rose: #DEABC3;
  --main-active: #BA638A;
  --font-family: 'Roboto', sans-serif;
  /* --font-family: 'Open Sans', sans-serif; */
  --font-color-default: #606cad;
  --font-color-title: #606cad;


  --button-submit: {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    vertical-align: middle;
    padding: 0 20px;
    background-color: var(--main-rose);
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    border: none;
    cursor: pointer;
    outline: none;

    &:disabled {
      cursor: default;
      background-color: #666;
    }
  }

}
