@import '../../assets/variables.css';

.CategoryHeader {

  font-size: 18px;    
  color: #606cad;
  text-align: center;
  margin: 30px 0 25px 0;
  p {
    margin: 0;
    paddin: 0;
  }

  @media (--small) {
    padding: 0 15px;
    font-size: 18px;

    span {
      display: block;
    }
  }

  @media (--medium) {
    margin-left: 40px;
    margin-right: 40px;
  }
}
